.*
*~
*.patch
build*
*.o
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
extra/com.ubuntu.Upstart.Job.c
extra/com.ubuntu.Upstart.Job.h
extra/com.ubuntu.Upstart.Job.o
extra/com.ubuntu.Upstart.c
extra/com.ubuntu.Upstart.h
extra/upstart-event-bridge
extra/upstart-file-bridge
extra/upstart-socket-bridge
extra/upstart-udev-bridge
extra/upstart-uevent-bridge
init/com.ubuntu.Upstart.Instance.c
init/com.ubuntu.Upstart.Instance.h
init/com.ubuntu.Upstart.Job.c
init/com.ubuntu.Upstart.Job.h
init/com.ubuntu.Upstart.c
init/com.ubuntu.Upstart.h
init/init
install-sh
intl/plural.c
libtool
ltmain.sh
m4
missing
po/Makevars.template
po/POTFILES
scripts/data/upstart-monitor.svg
stamp-h1
util/com.ubuntu.Upstart.Instance.c
util/com.ubuntu.Upstart.Instance.h
util/com.ubuntu.Upstart.Job.c
util/com.ubuntu.Upstart.Job.h
util/com.ubuntu.Upstart.c
util/com.ubuntu.Upstart.h
util/initctl
util/reboot
util/runlevel
util/shutdown
util/telinit
